.main {
  font-family: "Mulish", sans-serif;
}
hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}
.continue {
  width: 300px;
  margin-left: auto;
  margin-bottom: 100px;
  height: 50px;
  background-color: #0d1010;
}
.space {
  margin-top: 50px;
}

input {
  border: 1px solid black;
  height: 50px;
  border-radius: 0;
}

form {
  margin-left: 120px;
  margin-right: 120px;
}
.header-title {
  background-color: #fdf8ef;
  margin-top: 50px;
  margin-bottom: 50px;
}
.payment {
  background-color: #fdf8ef;
  margin-bottom: 50px;
}
.credit {
  text-align: end;
}
.boldy {
  border: 2px solid black;
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
  color: red;
}
.boldy::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
.svg-align {
  vertical-align: middle;
}
.card-container {
  margin-top: 50px;
  width: 550px;
  height: 350px;
  background-color: #121416;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
.card-container input {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
}
.card-container select {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
}
.card-container h5 {
  color: #696969;
}
.card-container h4 {
  color: #696969;
}
.payment-details {
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}
.payment-visa {
  margin-top: 30px;
  margin-right: 30px;
}
h5 {
  color: white;
}
.form-margins-card {
  margin-left: 10px;
  margin-right: 10px;
}

.card-margins-numbers {
  margin-top: 15px;
  color: white;
}
.cvt {
  margin-top: 15px;
  color: #696969;
  text-align: center;
}
.submit-save {
  width: 100%;
  margin-top: 30px;
}
.contact-margins {
  margin-bottom: 100px;
}
.visa-image {
  text-align: end;
}
.input-mobile {
  display: none;
}
.notForDesktop {
  display: none;
}
.notForDesktop-button {
  display: none;
}

@media (max-width: 768px) {
  .main {
    width: 100% !important;
  }
  form {
    width: 100% !important;
    margin-right: 20px;
    margin-left: 20px;
    height: auto;
  }
  .card-container {
    width: 100%;
    height: auto;
  }
  .visa-image {
    width: 100%;
    height: auto;
  }
  .visa-image img {
    width: 100%;
    height: auto;
  }
  .card-margins-numbers {
    width: 100%;
    display: block;
    height: auto;
  }
  .mobile-only {
    display: none;
  }
  .input-mobile {
    width: 100%;

    display: flex;
  }
  .order-info {
    text-align: center;
  }
  .notForDesktop {
    width: 100%;
    height: auto;
    background-color: #121416;
    display: block;
    color: white;
  }
  .card-expiration {
    display: flex;
    width: 100%;
  }
  .notForDesktop form {
    width: 90%;
    margin-right: 15px;
  }
  .notForDesktop input {
    margin-right: 10px;
    width: 90%;
    margin-left: 10px;
    background-color: black;
    color: white;
  }
  .notForDesktop select {
    margin-right: 10px;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
  }

  .summary {
    width: inherit;
    margin-right: 0px;
    margin-left: 0px;
  }
  .mobile-only img {
    width: inherit;
  }
  .summary-text {
    width: auto;
  }
  .button-save {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .promo-row {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .continue {
    width: 100%;
  }
  .notForDesktop button {
    width: 100%;
    display: block;
  }
  .notForDesktop-button {
    display: inline-flex;
  }
  .total-price-mobile {
    margin-right: 0;
    margin-left: 0;
  }
  .boldy {
    margin-left: 15px;
  }
}
