<app-header> </app-header>
<div class="header">
  <h1 class="h1-search">BUILD YOUR POWERFUL CAREER!</h1>
  <div class="container first-container">
    <div class="row">
      <div class="col-sm-3 space-mobile">
        <input type="text" class="form-control" placeholder="Keywords" />
      </div>
      <div class="col-sm-3 space-mobile">
        <input type="text" class="form-control" placeholder="All Locations " />
      </div>
      <div class="col-sm-3 space-mobile">
        <input type="text" class="form-control" placeholder="SEO EXPERT" />
      </div>
      <div class="col-sm-3 submit-class">
        <button class="btn btn-outline-danger">SUBMIT NOW</button>
      </div>
    </div>
  </div>
</div>
<div class="widget">
  <div class="row">
    <div class="col-sm-2 hovering-image">
      <img src="../../../assets/images/accounting.png" class="widget-icons" />
      <h4>Accounting</h4>
    </div>
    <div class="col-sm-2 hovering-image">
      <img src="../../../assets/images/web-dev.png" class="widget-icons" />
      <h4>Web Development</h4>
    </div>

    <div class="col-sm-2 hovering-image">
      <img src="../../../assets/images/web-design.png" class="widget-icons" />
      <h4>Web Design</h4>
    </div>
    <div class="col-sm-2 hovering-image">
      <img src="../../../assets/images/graphic.png" class="widget-icons" />
      <h4>Grapichs</h4>
    </div>
    <div class="col-sm-2 hovering-image">
      <img src="../../../assets/images/seo.png" class="widget-icons" />
      <h4>SEO</h4>
    </div>
    <div class="col-sm-2 hovering-image">
      <img src="../../../assets/images/content.png" class="widget-icons" />
      <h4>Content</h4>
    </div>
  </div>
</div>
<div class="about-jobs">
  <div class="container second-container">
    <div class="row">
      <div class="col-sm-6">
        <h2><strong>How to join our comunity</strong></h2>
        <p>
          Normal distribution of letters, as opposed to using 'Content here,
          content here', making it look like readable English. Many desktop
          publishing packages and web page editors has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content
          here', making it look like readable English. Many desktop publishing
          packages and web page editors
        </p>
        <button class="btn btn-primary read-more">Read More</button>
      </div>
      <div class="col-sm-6">
        <img src="../../../assets/images/crew-3.jpg" class="about-job-image" />
      </div>
    </div>
  </div>
</div>
<div class="jobs">
  <h1 class="h1-jobs">Recent Jobs</h1>
  <div class="container">
    <div class="row pointer-cursor">
      <div class="col-sm-5 gradient-border hovering-image">
        <div class="row">
          <div class="col-sm-3 box-borders-img-margins">
            <img
              src="../../../assets/images/logo-job.png"
              class="box-borders-img"
            />
          </div>
          <div class="col-sm-9">
            <h2>Looking Graphic Designer (Logo + UI)</h2>
            <div class="row">
              <div class="col-sm-9">
                <p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                  </svg>
                  Oradea,Romania
                </p>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-primary">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 gradient-border hovering-image">
        <div class="row pointer-cursor">
          <div class="col-sm-3 box-borders-img-margins">
            <img
              src="../../../assets/images/logo-job2.png"
              class="box-borders-img"
            />
          </div>
          <div class="col-sm-9">
            <h2>Development Team Leader</h2>
            <div class="row">
              <div class="col-sm-9">
                <p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                  </svg>
                  Oradea,Romania
                </p>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-primary">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row pointer-cursor">
      <div class="col-sm-5 gradient-border hovering-image">
        <div class="row">
          <div class="col-sm-3 box-borders-img-margins">
            <img
              src="../../../assets/images/logo-job3.png"
              class="box-borders-img"
            />
          </div>
          <div class="col-sm-9">
            <h2>Hiring Web Designer for Project</h2>
            <div class="row">
              <div class="col-sm-9">
                <p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                  </svg>
                  Oradea,Romania
                </p>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-primary">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 gradient-border hovering-image last-item">
        <div class="row pointer-cursor">
          <div class="col-sm-3 box-borders-img-margins">
            <img
              src="../../../assets/images/logo-job4.png"
              class="box-borders-img"
            />
          </div>
          <div class="col-sm-9">
            <h2>WordPress Developer</h2>
            <div class="row">
              <div class="col-sm-9">
                <p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                  </svg>
                  Oradea,Romania
                </p>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-primary">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
