<app-header> </app-header>
<div class="header">
  <h1>Terms and Conditions</h1>
</div>
<div class="container main-space">
  <div class="content">
    <h1 class="header-title">Our Terms and Conditions</h1>

    <p>
      A <strong>Terms and Conditions</strong> agreement outlines the terms that
      visitors must agree to if they want to interact with your website.
      Essentially, if the visitor continues to use the website after accepting
      the Terms, they enter into a contract with you.
    </p>
    <p>
      Unlike a Privacy Policy, you aren't legally required to have a Terms and
      Conditions agreement. However, there are many reasons why you should draft
      one and display it on your website. We'll discuss those reasons and show
      you a few of the most important clauses your Terms and Conditions should
      include.
    </p>
    <p>
      Note that you'll sometimes see this agreement referred to as a Terms of
      Use, User Agreement or Terms of Service agreement. These terms are
      interchangeable and refer to the same type of agreement.
    </p>
    <div class="more-content space">
      <div class="col-sm-11"><h2>Contents</h2></div>
      <div class="col-sm-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-list cursor-pointer"
          viewBox="0 0 16 16"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </div>
    </div>
    <div class="card card-body collapse h4-color" id="collapseExample">
      <p>
        <strong
          >1. The Benefits of Having a Terms and Conditions Agreement</strong
        >
      </p>
      <p><strong>2. Creating a Terms and Conditions Agreement</strong></p>
      <p><strong>3. Displaying Your Terms and Conditions</strong></p>
      <p>
        <strong>4. Getting Agreement to Your Terms and Conditions</strong>
      </p>
      <p><strong>5. FAQ on Terms and Conditions</strong></p>
      <p><strong>6. Conclusion</strong></p>
    </div>
    <p>
      The purpose of a Terms and Conditions agreement is to prevent
      misunderstandings between the business owner (you), and the consumer. The
      agreement helps you:
    </p>
    <li>Protect your intellectual property</li>
    <li>Avoid website abuse</li>
    <li>Define the limits of your legal obligations to the consumer</li>
    <p>
      Essentially, the T&C helps you run your business more effectively and with
      greater peace of mind.
    </p>
    <p>
      his agreement forms the basis of an enforceable legal relationship. It
      tells anyone browsing your website, whether they are a casual visitor or
      an active client, what their legal responsibilities and rights are.
    </p>
    <p>
      It also gives you, as the business owner and service provider, authority
      over certain undesirable things that a consumer may do on your website.
      However, let's consider the specific reasons why business owners should
      always include a Terms and Conditions agreement on their website.
    </p>
    <h2 class="space">
      <strong>The Benefits of Having a Terms and Conditions Agreement</strong>
    </h2>
    <img src="../../../assets/images/terms.jpg" class="img-style space" />
    <p>
      We can't stress this enough - a T&C isn't mandatory, but you should treat
      it like it is. Here's why.
    </p>
    <li>
      You can decide which country's laws apply to govern the agreement. This is
      otherwise known as choosing the jurisdiction. You will generally choose
      the country where the website, or business, is based.
    </li>
    <li>
      You can remove or delete abusive accounts. For example, say you run a
      social media platform and explain that people who post inflammatory,
      abusive, or explicit content will be blocked from the service. Someone
      posts abusive content. You can block their account without worry, because
      you can rely on your Terms and Conditions agreement.
    </li>
    <li>
      You can limit your responsibility. You can include disclaimer clauses in
      your agreement that say you're not liable for third party content, and you
      don't endorse it. You can also say that you're not responsible for
      mistakes and typos, or content uploaded by users which other users may
      find offensive.
    </li>
    <li>
      You can manage a user's expectations of your website or platform. When the
      terms are clear, users know what they can and cannot expect from you.
    </li>
    <li>
      You can set your own site rules and the consequences for violating these
      rules, within legal limits. You can't contract out of certain rules such
      as the law of negligence.
    </li>
    <li>
      It's vital that you protect your intellectual property rights. By setting
      out what your rights are in the Terms and Conditions agreement, you can
      take action against users who infringe your rights. It should be clear
      that the logo, brand, and content belong to you.
    </li>
    <h2 class="space">
      <strong>Creating a Terms and Conditions Agreement </strong>
    </h2>
    <img src="../../../assets/images/terms2.jpg" class="img-style space" />
    <p>
      When you begin to draft a Terms and Conditions agreement, there are
      certain clauses you should make sure to include. Let's look at each of
      these clauses in turn and consider how they are drafted.
    </p>
    <h2 class="space"><strong>Introduction Clauses </strong></h2>
    <p>
      It's very helpful to set out a clause (or clauses) at the very beginning
      of the agreement explaining what the agreement is, who it applies to, and
      when the terms are triggered.
    </p>
    <p>
      It's important to clarify who the agreement applies to since it's legally
      binding.
    </p>
    <p>YouTube, for example, makes it clear that:</p>
    <li>Users must agree to the terms before using the service</li>
    <li>Anyone who uses their service is assumed to agree to the terms</li>
    <li>Some people are legally prohibited from entering into the agreement</li>
    <p class="margin-bootom">
      This clause is placed close to the beginning of the agreement and is part
      of the introductory clauses.
    </p>
  </div>
</div>
<app-footer></app-footer>
