.content {
  background-color: rgb(132, 163, 205);
  width: 100%;
  height: 1000px;
  font-family: "Mulish", sans-serif;
  text-align: center;
}
h1 {
  padding-top: 50px;
  font-size: 50px;
  color: white;
}
h3 {
  padding-bottom: 30px;
  color: #3f4d75;
}
button {
  background-color: white;
  color: #3f4d75;
  height: 50px;
  width: 380px;
  font-size: 18px;
  font-weight: 900;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-top: 50px;
}
.content-end {
  width: 100%;
  height: 100px;
  background-color: #c4d6ec;
  text-align: center;
}
.text {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #3f4d75;
}
.info-password {
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.space {
  margin-bottom: 30px;
}
input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 45px;
}
.p-space {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
  .space {
    margin-left: 10px;
    margin-right: 10px;
  }
  button {
    width: 90%;
  }
  img {
    width: 100%;
  }
  .text {
    width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}
