<app-header></app-header>
<div class="content">
  <h1>FORGOT YOUR PASSWORD?</h1>
  <img src="../../../assets/images/password.png" />
  <h3>Don't worry, be happy</h3>
  <h3>Let's get you a new password!</h3>
  <div class="info-password">
    <form>
      <div class="row space">
        <input
          type="text"
          placeholder="Enter old password"
          class="form-control"
        />
      </div>
      <div class="row space">
        <input
          type="text"
          placeholder="Enter new password"
          class="form-control"
        />
      </div>
      <div class="row space">
        <input
          type="text"
          placeholder="Repeat new password"
          class="form-control"
        />
      </div>
    </form>
  </div>
  <button (click)="open()" class="btn btn-outline-dark">
    RESET MY PASSWORD
  </button>
</div>
<div class="content-end">
  <div class="text">
    <p class="p-space">
      This link will expire in 24 hours. If you continue to have problems please
      feel free to contact us at support@easybook.com.
    </p>
  </div>
</div>
<app-footer> </app-footer>
