.header {
  background-image: linear-gradient(
      180deg,
      rgba(150, 105, 97, 0.67) 0%,
      rgba(2, 0, 76, 0.84) 100%
    ),
    url("../../../assets/images/map2.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center;

  height: 550px;
  text-align: center;
  color: white;
  font-family: "Mulish", sans-serif;
}
h1 {
  font-size: 70px;
  padding-top: 150px;
}
.content {
  font-family: "Mulish", sans-serif;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.maps {
  margin-right: 50px;
}
@media (max-width: 768px) {
  .header {
    padding-top: 50px;
    width: 100%;
  }
  .content {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: block;

    text-align: center;
  }
  .maps {
    padding-bottom: 50px;
  }
}
