.main {
  padding-top: 50px;
  text-align: center;
  width: 500px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  color: white;
  font-family: "Mulish", sans-serif;
}
.sign {
  margin-right: 10px;
  margin-left: 10px;
}
.body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 64%,
    #ffcc70 94%,
    #ffffff 99%
  );
  height: 900px;
}
.login {
  text-align: center;
  padding-top: 50px;
  color: white;
  font-weight: 200;
}
.space {
  margin-bottom: 30px;
}

h1,
p {
  font-weight: 200;
  font-family: "Mulish", sans-serif;
  animation-duration: 2s;
  animation-name: slidein;
}
button {
  margin-top: 20px;
}
p,
label {
  color: #999;
  animation-duration: 2s;
  animation-name: slidein;
}
.sign-up {
  width: 150px;
}
.messageError {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  padding-top: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    height: auto;
  }
  svg {
    display: none;
  }
  .sign-up {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
