<app-header> </app-header>
<div class="header"><h1>About us</h1></div>
<div class="container">
  <div class="row">
    <div class="col-sm-3 card card-body margins">
      <img src="../../../assets/images/perfect-space.png" />

      <h4 class="p-space space-perfect">
        <strong>WE'LL FIND YOU THE PERFECT SPACE</strong>
      </h4>
      <p class="p-space space-perfect">
        In our family EasyBook you can fidn the perfect space for you, anytime
        you want, at the best resorts, best rates, best places. Come and join
        our <strong>perfect space</strong>
      </p>
    </div>
    <div class="col-sm-3 card card-body margins">
      <img src="../../../assets/images/budget.jpg" />

      <h4 class="p-space"><strong>WE WORK FOR YOUR BUDGET </strong></h4>
      <p class="p-space">
        A successful budget planner helps you decide how to best spend your
        money while avoiding or reducing debt. NerdWallet recommends the
        50/30/20 budget, which suggests that 50% of your income goes toward
        needs, 30% toward wants and 20% toward savings and debt repayment.
      </p>
    </div>
    <div class="col-sm-3 card card-body margins">
      <img src="../../../assets/images/transparency.jpg" />
      <h4 class="p-space"><strong>WE ARE VERY TRANSPARENT</strong></h4>
      <p class="p-space">
        Transparency helps the public to understand the ECB's monetary policy.
        Better public understanding makes the policy more credible and
        effective. Transparency means that the ECB explains how it interprets
        its mandate and that it is forthcoming about its policy goals.
      </p>
    </div>
  </div>
  <div class="row story">
    <h2 class="center"><strong>Our Story</strong></h2>
    <h6>
      An About Us Page is a page on your website that tells your readers all
      about you. It includes a detailed description covering all aspects of your
      business and you as an entrepreneur. This can include the products or
      services you are offering, how you came into being as a business, your
      mission and vision, your aim, and maybe something about your future goals
      too. Your About Us page is your perfect opportunity to tell a compelling
      story about your business.
    </h6>
  </div>
  <h2 class="center"><strong>Our Experts</strong></h2>
  <div class="row display">
    <div class="col-sm-4">
      <img src="../../../assets/images/expert.jpg" class="portrait" />
      <p>Robert Hans</p>
      <p>Commercial Real Estate</p>
    </div>
    <div class="col-sm-4">
      <img src="../../../assets/images/expert2.jpg" class="portrait" />
      <p>Christina Maxwell</p>
      <p>Commercial Real Estate</p>
    </div>
    <div class="col-sm-4">
      <img src="../../../assets/images/expert3.png" class="portrait" />
      <p>Matheias Johnson</p>
      <p>Commercial Real Estate</p>
    </div>
  </div>
  <div class="button-agent-call">
    <button class="btn btn-primary btn-agent">CONTACT AN AGENT</button>
  </div>
</div>

<app-footer></app-footer>
