/* You can add global styles to this file, and also import other style files */
@import "~mdb-ui-kit/css/mdb.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

main {
  position: relative;
}

body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}
