<app-header> </app-header>
<div class="header">
  <h1>Privacy & Policy</h1>
</div>
<div class="container first-space">
  <div class="content">
    <p class="indent">
      <strong>I</strong>n today's business world,
      <strong>companies depend heavily on data and information</strong> derived
      from it. Indeed, information is essential for all company employees, from
      the top executives to the operations level.
    </p>
    <p>
      Protecting data, especially private, personal information, is crucial in a
      complex world where so much depends upon it. The most important step for
      business owners to protect their customers' data is to
      <strong>create a concise and transparent Privacy Policy.</strong>
    </p>
    <p>
      A Privacy Policy is a legal document, which informs your website's
      visitors about the data collected on them and how your company will use
      it.
    </p>
    <p>
      A good Privacy Policy should
      <strong>tline what data is being collected </strong> ouand explain why
      you're collecting it, who has access to it, and the time frame during
      which you plan to store it.
    </p>
    <p>
      It should also include any third parties with whom your company shares
      personal or private information, as well as any steps taken to ensure the
      security of such information.
    </p>
    <p>
      <strong>This article</strong> will cover the components of a good Privacy
      Policy and will help you better understand how to create one that builds
      trust and confidence in your customers and protects you against various
      liability issues. You'll also find examples of how other businesses have
      used Privacy Policies to comply with the law and inform customers about
      their privacy practices.
    </p>
    <div class="show-more space">
      <div class="col-sm-10">
        <h3 class="space"><strong>Content</strong></h3>
      </div>
      <div class="col-sm-2 show-more-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-list cursor-pointer"
          viewBox="0 0 16 16"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </div>
    </div>

    <div class="collapse" id="collapseExample">
      <p><strong>1. What is a Privacy Policy?</strong></p>
      <p><strong>2. A Privacy Policy is Required by Law</strong></p>
      <p><strong>3. Third Party Services Require a Privacy Policy</strong></p>
      <p><strong>4. Always be Transparent in Your Privacy Policy</strong></p>
      <p><strong>5. What Should You Include in Your Privacy Policy</strong></p>
      <p><strong>6. FAQ: Privacy Policy</strong></p>
      <p><strong>7. Examples of Privacy Policies on Websites</strong></p>
      <p><strong>8. Summary</strong></p>
      <p><strong>9. Download Privacy Policy Template</strong></p>
    </div>
    <h2 class="space"><strong>What is a Privacy Policy? </strong></h2>
    <p>
      In essence,<strong>a Privacy Policy is a legal document</strong> outlining
      how your organization collects, uses, and discloses personal information.
    </p>
    <p>
      There are <strong>two main reasons</strong> why you need a Privacy Policy:
    </p>
    <p>
      <strong>✓ They're legally required</strong>: Privacy Policies are legally
      required by global privacy laws if you collect or use personal
      information.
    </p>
    <p>
      <strong>✓ Consumers expect to see them</strong>Place your Privacy Policy
      link in your website footer, and anywhere else where you request personal
      information.
    </p>
    <p>Excerpt from <strong>TermsFeed Testimonials</strong>:</p>
    <p>
      <i
        >"I needed an updated Privacy Policy for my website with GDPR coming up.
        I didn't want to try and write one myself, so TermsFeed was really
        helpful. I figured it was worth the cost for me, even though I'm a small
        fry and don't have a big business. Thanks for making it easy."</i
      >
    </p>
    <p>
      A properly written Privacy Policy tells customers what data you collect
      about them when they engage with your business (e.g., through your
      website) or purchase one of your products/services, and why you're
      collecting that information. It also lets people know how long their
      information will be stored, who can access these records and more.
    </p>
    <h2 class="space"><strong>A Privacy Policy is Required by Law </strong></h2>
    <p>
      Privacy Policies are important because they're required by law to be
      posted on your website. You may be required to include specific clauses in
      your Privacy Policy, depending on the applicable laws within your area or
      where you are conducting business.
    </p>
    <p>
      In fact, privacy laws are in place in many countries around the globe,
      including the following:
    </p>
    <p>
      Canada's Personal Information Protection and Electronic Documents Act
      (PIPEDA)
    </p>
    <p>The California Online Privacy Protection Act (CalOPPA)</p>
    <p>The California Consumer Privacy Act (CCPA)</p>
    <p>Europe's General Data Protection Regulation (GDPR)</p>
    <p>Australia's Privacy Act</p>
    <p>The UK's Data Protection Act</p>
    <h2 class="space">
      <strong>Third Party Services Require a Privacy Policy </strong>
    </h2>
    <p>
      You should provide clauses detailing how you use
      <strong>third-party services, APIs and SDKs.</strong>
    </p>
    <p>
      Just some of the most popular third-party services, which require you to
      post a Privacy Policy are:
    </p>
    <li>Google Analytics</li>
    <li>Google AdSense</li>
    <li>Google AdWords</li>
    <li>Amazon Associates</li>
    <li>ClickBank</li>
    <li>Twitter Lead Generation</li>
    <li>Facebook Pages, Stores and Apps</li>
    <p>
      A few of the reasons these third-party services require you to post a
      Privacy Policy and disclose your usage of their cookies and services are
      due to the fact that they place
      <strong>cookies on your visitors' computers</strong>. They also collect
      information about them whenever they visit your site, such as their
      browsing habits, the device used, and so on.
    </p>
    <h2 class="space">
      <strong>Always be Transparent in Your Privacy Policy </strong>
    </h2>
    <p>
      Trust is essential for companies whose business models are based on
      sensitive customer data. A transparent and complete Privacy Policy
      agreement, which explains exactly what information a company collects and
      how it uses that information, inspires trust in a business.
    </p>
    <div class="image space">
      <img src="../../../assets/images/privacy.jpg " class="image-space" />
    </div>
    <p>
      Your Privacy Policy should explain to your users how your app or website
      handles personal data. Your users should also
      <strong>be aware of the reasons for collecting information</strong> and
      how long they will be kept on your servers.
    </p>
    <p>
      Conduct a privacy audit to ensure transparency and accuracy in your
      Privacy Policy. This will enable you to determine your business's privacy
      practices and what information you must disclose to your users through an
      appropriately transparent Privacy Policy.
    </p>
    <h2 class="space">
      <strong>What Should You Include in Your Privacy Policy </strong>
    </h2>
    <p>
      Your Privacy Policy should be structured to make it easy for the reader to
      understand essential information. You can achieve this by using
      well-structured, clearly written clauses that are clearly identified with
      descriptive headlines.
    </p>
    <p>
      Your Privacy Policy will contain a variety of clauses depending on your
      business type and applicable law. Accordingly, there are certain clauses
      that every website, which collects personal data from visitors, should
      include in their Privacy Policies.
    </p>
    <p>
      With that in mind, let's take a look at what you should include in your
      Privacy Policy.
    </p>
    <p>
      For instance, a website could use a registration form to collect an
      individual's email address, which the company then adds to its mailing
      list. This is very different from an app that collects all kinds of
      personal data, such as name, address, payment information, and location.
    </p>
    <p>
      You must also keep in mind that privacy laws generally stipulate that you
      may only collect personal information if necessary to offer the services
      you provide.
    </p>
    <h4 class="space">What do you do with the information you collect?</h4>
    <p>
      This clause informs the user about what happens to their personal data
      after it is collected.
    </p>
    <p>
      A website might collect information such as a user's address and name in
      order to ship products purchased online. This information is essential and
      is not collected more than necessary. This is very different from a
      website that collects users' names and addresses and then sells it to a
      third party for marketing purposes.
    </p>
    <h2 class="space"><strong>FAQ: Privacy Policy </strong></h2>
    <p>
      Here is a list of frequently asked questions that you may find useful.
    </p>
    <div>
      <div class="card card-body small-margins">
        <div
          class="row pointer"
          data-toggle="collapse"
          data-target="#collapseExample1"
          aria-expanded="false"
          aria-controls="collapseExample1"
        >
          <div class="col-sm-11">
            <p><strong>1. Why do I need a Privacy Policy?</strong></p>
          </div>
          <div class="col-sm-1 pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>
        </div>
      </div>

      <p class="collapse card card-body" id="collapseExample1">
        You need a Privacy Policy because privacy laws around the world require
        one if you collect personal information. Many third-party companies also
        require a Privacy Policy in order to use their services. Even if you
        don't collect personal information, you should still have a Privacy
        Policy. This is because people and the authorities expect to see one.
        Without one, even one that simply says you don't collect personal
        information, you may come across as untrustworthy to the public and end
        up being questioned by authorities.
      </p>

      <div class="card card-body small-margins">
        <div
          class="row pointer"
          data-toggle="collapse"
          data-target="#collapseExample2"
          aria-expanded="false"
          aria-controls="collapseExample2"
        >
          <div class="col-sm-11">
            <p>
              <strong>
                2.Do I need a Privacy Policy even if I don't collect personal
                information?</strong
              >
            </p>
          </div>
          <div class="col-sm-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>
        </div>
      </div>

      <p class="collapse card card-body" id="collapseExample2">
        You should have a Privacy Policy even if you don't collect personal
        information because the general public and authorities both expect to
        see one. Without a Privacy Policy, you may end up having to explain your
        privacy practices to legal authorities to prove that you aren't
        violating privacy laws. You may also lose trust with the public for not
        being clear about what your privacy practices are. Even if you don't
        collect personal information, you should post a Privacy Policy that says
        exactly that.
      </p>
      <div class="card card-body small-margins">
        <div
          class="row pointer"
          data-toggle="collapse"
          data-target="#collapseExample3"
          aria-expanded="false"
          aria-controls="collapseExample3"
        >
          <div class="col-sm-11">
            <strong
              >3. What information do I need to include in my Privacy
              Policy?</strong
            >
          </div>
          <div class="col-sm-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="collapse card card-body" id="collapseExample3">
        <p>
          The standard information that every Privacy Policy should include is
          as follows:
        </p>
        <li>What personal information you collect</li>
        <li>How you collect it</li>
        <li>Why you collect it/How you use it</li>
        <li>How long you keep the personal information</li>
        <li>How you secure it</li>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
